section.md-whiteframe-z1.content#calendar
  md-toolbar.md-primary.md-default-theme
    .md-toolbar-tools
      h3 Calendar 
  md-subheader.md-accent Scheduled dodgeball 
  md-content.content(layout layout-align='center center')
    md-content 
      iframe(src="https://calendar.google.com/calendar/embed?showTitle=0&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&mode=AGENDA&height=500&wkst=1&bgcolor=%23FFFFFF&src=i84i01are395varf3ikvbdbdag%40group.calendar.google.com&color=%23875509&ctz=Asia%2FTokyo" style="border-width:0" width="700" height="500" frameborder="0" scrolling="no")
section.md-whiteframe-z1.content#about
  md-toolbar.md-primary.md-default-theme
    .md-toolbar-tools
      h3 About 
  md-subheader.md-accent Who we are
  md-content.md-padding
    md-tabs.md-accent.md-hue-2(md-dynamic-height)
      md-tab
        md-tab-label English
        md-tab-body
          md-content.md-padding
            p Come kick out the jams by throwing balls at your fellow man... and woman! 
            p We play dodgeball with special soft-core 'no sting' balls because having fun is our #1 priority. Trust me, there's no better way to make new friends then by hitting them in the balls (or boobs) then sharing a "kampai!" with them at the bar. 

            p Everyone is welcome, guys and girls, Tokyo citizens and tourists, loners and groups! And you don't have to be an athlete to have fun. Think of it as a social club with exercise and laughter automatically included.
            p -Will
      md-tab
        md-tab-label 日本語 
        md-tab-body
          md-content.md-padding
            p Coming soon
            p -ウィル
