md-toolbar.md-primary
  .md-toolbar-tools.footer-content
    div(layout='row', layout-align='start center')
      span Made with&nbsp;
      md-icon.material-icons.md-accent(aria=label='love') favorite
      span &nbsp;by Hugo Almeida
    div(layout='row', layout-align='start center')
      md-button.md-icon-button(href="https://github.com/GriffinHeart/dodgeball-league-2015/tree/master"
        target="_blank"
        aria-label="github") 
          md-icon.fa.fa-2x(md-font-icon="fa-github")
