section.jumbotron
  .text
    h1 Tokyo Dodgeball 2016!
md-toolbar(layout='row', layout-align='space-around center')
  section(flex='20')
  section(flex, layout='row', layout-align='space-around center')
    md-button.md-raised.md-accent(href='#', scroll-to="about") About
    md-button.md-raised.md-accent(href='#', scroll-to="calendar") Calendar 
  section(flex='20')
