section.jumbotron
  .text
    h1 Tokyo Dodgeball League 2015!
md-toolbar(layout='row', layout-align='space-around center')
  section(flex='20')
  section(flex, layout='row', layout-align='space-around center')
    md-button.md-raised.md-accent(href='#', scroll-to="announcements") News 
    md-button.md-raised.md-accent(href='#', scroll-to="league") League
    md-button.md-raised.md-accent(href='#', scroll-to="schedule") Schedule
    md-button.md-raised.md-accent(href='#', scroll-to="location") Location
  section(flex='20')
