md-content
  include ./header.jade
  div(layout)
    div(flex-gt-sm='15')
    md-content(flex, layout='column')
      include ./content.jade
    div(flex-gt-sm='15')
  footer(layout='column' layout-align='end')
    include ./footer.jade
